#container {
    padding: 10px;
    max-width: 320px;
    background-color: rgb(76, 93, 137);
    border-radius: 0.5em;
    -webkit-box-shadow:  1px 0px 50px 1px rgba(0,0,0,0.5);
    box-shadow:  1px 0px 15px 1px rgba(0,0,0, 0.5);
    text-align: center;
}
#container p, a , h1, h2, h3{
    color: #EEE;
}
#container a:hover{
    color:#CCC;
}
.capchat-img {
    height: 100px;
    width: 100px;
    border-radius: 0.2em;
}
.capchat-img:hover {
    cursor: pointer;
    -webkit-box-shadow:  1px 0px 50px 1px rgba(255,255,255,0.4);
    box-shadow:  1px 0px 15px 1px rgba(255,255,255, 0.4);
}

#countdown #countdown_text {
    font-weight: bold;
    font-size: 2em;
}
